<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Candela I. Neil - Portfolio</title>
  </head>
  <body>
    <app-navbar></app-navbar>
    <app-sobre-mi></app-sobre-mi>
    <app-experiencia-laboral></app-experiencia-laboral>
    <app-estudios-realizados></app-estudios-realizados>
    <app-skills></app-skills>
    <app-contactame></app-contactame>
  </body>
</html>
