<section>
    <div>
      <h2>Contactame</h2>
    </div>
    <div class="container">
      <div class="col-md-6">
        <div class="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>

        <div class="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>

        <div class="">
          <input
            type="email"
            class="form-control"
            id="exampleFormControlInput1"
            placeholder="name@example.com"
          />
        </div>
        <div class="">
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="3"
          ></textarea>
        </div>
        <div class="">
          <button type="submit" class="btn btn-primary mb-3">Enviar</button>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </section>
