<section>
    <div class="container">
      <div class="row">
        <div class="col col-md-2">
          <img class="img-fluid" src="{{usuario?.fotoPerfil}}" alt="">
        </div>
        <div class="col-md-10 sobremi">
          <div><b>Nombre: </b> {{usuario?.apellido}}, {{usuario?.nombre}}</div>
          <div><b>Estudiante: </b>{{usuario?.titulo}}</div>
          <div><b>Email: </b></div>
        </div>
      </div>

      <div class="row padd20">
        <h3>Sobre mí</h3>
        <p>
          {{usuario?.descripcion}}
        </p>
      </div>
    </div>
  </section>
