<section>
    <h2>Experiencia laboral</h2>
    <p>
      Lugares donde he trabajado
    </p>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p>Administrativa en Oficina de Compras</p>
          <img src="assets/imagenes/logo-municipalidad-trenque-1.png"alt="" width="200" height="100">
          <div>DESDE 01/02/2014 HASTA 01/03/2022</div>
          <div>
            <p>* Contacto/gestión/inscripción de proveedores</p>
            <p>* Solicitud de presupuestos</p>
            <p>* Emisión de órdenes de compra</p>
            <p>* Conocimiento en circuito de compras (trabajando con sistema RAFAM módulos contabilidad/contrataciones)</p>
            <p>* Ingreso de remítos y facturas conformadas al sistema</p>
            <p>* Seguimiento de pagos y trámites</p>
            <p>* Atención telefónica de consultas varias</p>
            <p>* Word/Excel</p>
            <p>* Ayuda a personas hipoacúsicas o con problemas auditivos mediante LSA (lengua de señas) en trámites varios</p>
          </div>
        </div>
        <div class="col-md-4">
          <p>Coordinadora en Polo Científico Tecnológico</p>
          <img src="assets/imagenes/polo-cientifico.png"alt="" width="400" height="50">
          <div>DESDE 01/03/2022 A LA ACTUALIDAD</div>
          <div>
            <p>* Coordinación general de actividades y talleres</p>
            <p>* Promoción del Punto Digital de la ciudad situado dentro del mismo Polo</p>
            <p>* Participación de proyectos varios</p>
          </div>
        </div>
      </div>
    </div>
  </section>
