<section>
  <h2>Experiencia laboral</h2>
  <p>Lugares donde he trabajado</p>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let experiencia of experienciaList">
        <p>{{ experiencia.tituloExp }}</p>
        <img
          src="{{ experiencia.imagenExp }}"
          alt=""
          width="200"
          height="100"
        />
        <div>{{ experiencia.fechaExp }}</div>
        <div>
          {{ experiencia.descExp }}
        </div>
      </div>
    </div>
  </div>
</section>
