<section>
    <h2>Estudios realizados</h2>
    <p>A continuación detallo mi formación</p>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div>Argentina Programa #SéProgramar</div>
          <img src="assets/imagenes/argentinaprograma1.png"alt="" width="200" height="100">
          <div>Desde Agosto 2021 hasta Octubre 2021</div>
          <div>
            <p>* Gobstones</p>
            <p>* JavaScript</p>
            <p>* Ruby</p>
          </div>
        </div>
        <div class="col-md-4">
          <div>Diplomatura en Gestión Pública Municipal</div>
          <img src="assets/imagenes/ipap.jpg"alt="" width="200" height="100">
          <div>Desde Julio 2021 hasta Julio 2022</div>
          <div>
            <p>MATERIAS / Ciclo Básico (actualmente en curso)</p>
            <p>* Estado, Sociedad y Políticas públicas</p>
            <p>* Particularidades de los municipios bonaerenses</p>
            <p>* Régimen municipal: un tipo de Estado</p>
            <p>* Gestión Local: el Estado en marcha</p>
            <p>* Un recorrido temático: Las funciones municipales</p>
            <p>* Los nuevos desafíos de la Gestión Municipal</p>
          </div>
        </div>
        <div class="col-md-4">
          <div>Tecnicatura Superior en Desarrollo Web y Aplicaciones Digitales</div>
          <img src="assets/imagenes/ispc.png"alt="" width="100" height="100">
          <div>Desde Marzo 2021 hasta Agosto 2024</div>
          <div>
            <p>Incluye tres certificaciones de formación profesional:</p>
            <p>* PROGRAMADORA</p>
            <p>* DESARROLLADORA FULL STACK</p>
            <p>* PROGRAMADORA DE DISPOSITIVOS MOVILES</p>
          </div>
        </div>
      </div>
    </div>
  </section>
