.fotoperfil {
    width: 96%;
    max-width: 960px;
    margin: 0 auto;
    }
.padd20 {
    padding: 20px;
}
section {
    background-color: #f2f2f2;
    padding: 20px;
}
.container {
    background-color: #fff;
    border-radius: 3px;
    padding: 20px;
}
.sobremi {
    padding: 20px 0;
}
.sobremi div {
    padding-top: 10px;
}
section h3 {
    font-size: 1.rem;
}